

#text2 {
  position: relative;
  text-decoration: none;
}

#text2::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  bottom: -0.5rem;
  width: 11.5rem;
  height: 3px; /* ความกว้างของ underline */
  background-color: #4e87f6; /* สีของ underline */
}